<div class="profile">
  <div class="container top-m bg">
    
    <h1>Editing Profile</h1>
    
    <%= render 'form', profile: @profile %>
    
    <%= link_to 'Show', @profile %> |
    <%= link_to 'Back', profiles_path %>

  </div>
</div>
