<div class="profile top-m">

  <h2>プロフィールを登録</h2>
  
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-ms-5 offset-md-3">
        <%= render 'form', profile: @profile %>
        
        <p> </p>
        
        <%= link_to 'プロフィールページに戻る', profiles_path %>
      </div>
    </div>
  </div>

</div>