<div class="container">
    <div class="row">
      <div class="offset-md-3 col-ms-5 offset-md-3">
        <h4>情報を編集する</h4>
        
        <%= render 'form', topic: @topic %>
        
        <p> </p>
        
        <%= link_to 'お知らせページに戻る', topics_path %>
      </div>
    </div>
  </div>

<P>　</P>
<p>　</p>

</div>