<div class="menu">
        <span class="h2 textalign-center">WA</span>和
        <p><a  href="/pages/main/"class="nav-link" target="main">・WAについて </a>
        <p><a href="/pages/main/#profile" target="main" class="nav-link">・プロフィール</a></p>
        <p><a href="/pages/main/#topic" target="main" class="nav-link">・最新情報</a></p>
        <p><a href="/pages/main/#past" target="main" class="nav-link">・過去の作品</a></p>
        <p><a href="/pages/main/#link" target="main" class="nav-link">・リンク</a></p>
</div>

<div id="iframeBlock">
  <div class="iframeBody">
    <iframe src="main.html" name="main"></iframe>
  </div>
</div>